@import '_setting.scss';

.container-fluid {
    position: relative;
}

.all-categories {
    background-color: $purple;
    margin-top: 5px;
    text-align: center;
    padding: 5px 0;
    color: $white;
    margin-bottom: 10px;
    border-radius: 0 10px 0 0;
}

.category-image {
    position: absolute;
    bottom: 5%;
}

.category-image-2 {
    position: absolute;
    bottom: calc(10% + 570px);
}

.category-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg { margin-right: 10px;}
}


@media screen and (max-width: 768px) {
    .category-image, .category-image-2 { display: none; }
}