@import '_setting.scss';

.categories-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-right: 2px dashed $purple;
    border-bottom: 2px dashed $purple;

    .category-container {

        display: flex;
        height: 30px;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.1rem;
        color: $purple;
        
        input { margin-right: 10px; margin-top: 5px;}

        span { cursor: pointer;}
    }
}
