@import '_setting.scss';

.comic-container {

    width: 220px;
    height: 100%;
    margin: 0 auto;
    max-width: 220px;

    .comic-image {
        width: 100%;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .comic-info {
        height: calc(100% - 290px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            color: $white;
            width: 100%;
            padding: 0 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;

            &:first-child {
                color: $yellow;
                font-size: 1.2rem;
                font-weight: 600;
            }

            &:hover {
                cursor: pointer;
                color: $purple;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .comic-container {

        width: 176px;
        height: 280px;
    
        .comic-image {
            height: 224px;
        }
    
        .comic-info {
            height: 48px;
    
            span {
    
                font-size: 0.8rem;
                &:first-child {
                    font-size: 0.96rem;
                }
            }
        }
    }
}