@import '_setting.scss';

.history-col {
    height: 50px;
    margin-bottom: 20px;
    background-color: darken($purple, $amount: 20);
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $black;
    .history-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        background-color: $yellow,;
        color: $black;
    }

    .history-nav-active {
        color: $white;
        background-color: darken($purple, $amount: 20);

        &:hover {
            background-color: darken($purple, $amount: 20);
        }
    }
}

.remove-all-read-comics {
    padding: 10px 20px;
    width: auto;
    margin: 0 auto 20px auto;
    color: $white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 6px $black;
    background-color: darken($purple, $amount: 10);
}