@import '_setting.scss';

.navigation-container {
    width: 100%;
    height: 50px;
    background-color: $yellow;
    padding: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .navigation-right-container, .navigation-left-container {

        display: flex;
        .navbar-item, .user-avatar, .notification {
            text-decoration: none;
            height: inherit;
            display: flex;
            align-items: center;
            padding: 0 20px;
            cursor: pointer;
            &:hover {
                background-color: darken($yellow, $amount: 5);
            }

            svg {
                width: 22px;
                height: 22px;
                margin-right: 8px;
                color: $black;
            }

            span {
                font-size: 1.1rem;
                color: $black;
                font-weight: bold;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    .navbar-active {
        background-color: darken($yellow, $amount: 15);

        &:hover {
            background-color: darken($yellow, $amount: 15) !important;
        }
    }

    .navigation-right-container {
        position: relative;

        .user-dropdown {
            position: absolute;
            background-color: $yellow;
            display: none;
            flex-direction: column;
            top: 110%;
            width: 200px;
            right: 0;
            z-index: 2;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 6px 10px $black;

            span {
                padding: 5px 10px;

                &:hover {
                    color: $purple;
                }
            }
        }

        .user-avatar {
            position: relative;

            .username {
                margin-right: 10px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 200px;
                right: 0;
                height: 15px;
                z-index: 1;
                top: 100%;
            }
            &:hover .user-dropdown {
                display: flex;
            }
        }

        .notification {
            position: relative;
            
            .user-notification {
                position: relative;
                display: flex;
                align-items: center;

                .quantity-notifications {
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    top: -9px;
                    right: -12px;
                    border-radius: 50%;
                    background-color: red;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }

                .quantity-notifications-2 {
                    width: 30px;
                    border-radius: 11px;
                    font-size: 0.9rem;
                    right: -20px;
                }
                
                svg {
                    font-size: 24px;
                    margin: 0;
                }

                span {
                    margin-right: 10px;
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation-container {
        .navigation-left-container, .navigation-right-container {
            .navbar-item {
                svg {margin: 0;}
                span { display: none;}
            }

            .user-notification {
                span { display: none;}
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .navigation-container {
        .navigation-right-container {
            .user-avatar {
                .username { display: none; }
            }
        }
    }
}