@import '_setting.scss';

.navigation-container {
    width: 100%;
    height: 50px;
    background-color: $yellow;
    padding: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .navigation-right-container, .navigation-left-container {

        display: flex;
        .navbar-item {
            text-decoration: none;
            height: inherit;
            display: flex;
            align-items: center;
            padding: 0 20px;
            &:hover {
                background-color: darken($yellow, $amount: 5);
            }

            svg {
                width: 22px;
                height: 22px;
                margin-right: 8px;
                color: $black;
            }

            span {
                font-size: 1.1rem;
                color: $black;
                font-weight: bold;
            }
        }
    }

    .navbar-active {
        background-color: darken($yellow, $amount: 15);

        &:hover {
            background-color: darken($yellow, $amount: 15) !important;
        }
    }

    .dropdown-btn {
        cursor: pointer;

        &:hover {
            background-color: darken($yellow, $amount: 5);
        }
    }
}