@import '_setting.scss';

.toast {
    width: 300px;
    text-align: center;
    position: fixed;
    top: 10px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(green, $alpha: 0.8);
    color: $white;
    font-size: 1rem;
}