@import '_setting.scss';

.admin-nav-col {
    height: 50px;
    margin-bottom: 20px;
    background-color: darken($purple, $amount: 20);
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $black;
    .admin-nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        background-color: $yellow;
        color: $black;
    }

    .admin-nav-active {
        
        color: $white;
        background-color: $purple;

        &:hover {
            background-color: $purple;
        }
    }
}

.add-comic {

    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto 30px auto;

    .image-current-comic {
        width: 220px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 auto 20px auto;


        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 8px 6px 10px darken($black, $amount: 10);
        }
    }
    .input-item {

        display: flex;
        justify-content: space-between;
        width: 600px;
        
        label {
            color: $yellow;
            font-weight: 600;
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
        }

        input {
            width: 480px;
            height: 40px;
            border-radius: 6px;
            outline: none;
            border: none;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 1rem;
            box-shadow: 2px 2px 4px darken($black, $amount: 20);
        }

        textarea {
            width: 480px;
            height: 80px;
            padding: 10px;
            font-size: 1rem;
            border-radius: 6px;
            outline: none;
            border: none;
            margin-bottom: 10px;
        }

        .list-tags-container {
            width: 480px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            height: 200px;
            max-height: 200px;
            overflow: auto;
            box-shadow: 2px 2px 4px $black;
            border-radius: 6px;

            .list-tags {
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
    
                input {
                    width: 15px;
                    height: 15px;
                    margin: 0 10px 0 0;
                }
            }
        }

    }

    .input-radio-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;

        label { color: $yellow; font-weight: 600;}
        input{
            width: 20px;
            height: 20px;
            margin-right: 40px;
        }
    }

    input[type=file] {
        width: auto;
        padding-left: 0;
        cursor: pointer;
        color: $yellow;
        box-shadow: none;
        margin-bottom: 10px;
    }
    span {
        color: $purple;
        margin: 0 auto 20px auto;
    }

    progress {
        width: 100%;
        margin-bottom: 20px;
    }

    button {

        margin: auto;
        width: 600px;
        height: 40px;
        border-radius: 6px;
        outline: none;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        background-color: darken($purple, $amount: 20);
        color: $white;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: 0;
            color: $white;
        }
    }

    select {
        width: 480px;
        height: 40px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 4px darken($black, $amount: 20);
        outline: none;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .add-comic {
        width: 100%;
        .input-item {
            width: 100%;
            justify-content: center;
            label { display: none;}

            .list-tags-container {
                .list-tags { 
                    label { display: flex; align-items: center;}
                }
            }
        }

        button {
            width: 480px;
        }

        input[type=file] {
            width: 480px;
            margin: auto;
        }

        select { width: 100%;}
    }
}

@media screen and (max-width: 510px) {
    .add-comic {
        width: 100%;
        .input-item {
            width: 100%;
            justify-content: center;
            label { display: none;}

            .list-tags-container {
                .list-tags { 
                    label { display: flex; align-items: center;}
                }
            }
        }

        button {
            width: 100%;
        }

        input[type=file] {
            width: 100%;
            margin: auto;
        }

        select { width: 100%;}
    }
}