@import '_setting.scss';

.list-chapter-container {
    height: 400px;
    max-height: 400px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: auto;

    .chapter-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        span {
            &:first-child, &:nth-child(3) {
                cursor: pointer;
                &:hover { color: $purple;}
            }
        }
    }

    hr {
        height: 0.01rem;
        border: none; 
        background-color: $black;
    }
}