@import '_setting.scss';

.header-container {
    width: 100%;
    height: 300px;
    position: relative;
    
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 950px) {
    .header-container { height: 230px; }
}

@media screen and (max-width: 768px) {
    .header-container { height: 200px; }
}

@media screen and (max-width: 500px) {
    .header-container { height: 160px; }
}

@media screen and (max-width: 425px) {
    .header-container { height: 120px; }
}