@import '_setting.scss';

.pagination {
    justify-content: center;
}

.page-item {

    cursor: pointer;
    &:not(:last-child){ margin-right: 8px;}

    .page-link {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
        align-items: center;
        justify-content: center;
        background-color: $yellow !important;
        border: none;
        color: $black !important;
        outline: solid 4px $lightblack !important;
        &:hover {
            background-color: darken($yellow, $amount: 10);
            color: $black;
        }
    }

}

.page-item-last, .page-item-first, .page-item-third, .page-item-second {

    .page-link { 
        border-radius: 50% !important;
        font-size: 2rem;
        font-weight: bold;
        
        span {
            &:first-child {
                margin-bottom: 6px;
            }
        }
    }
}

.page-item.active {
    .page-link {
        background-color: $main-color-2 !important;
    }
}