@import '_setting.scss';

.new-comic-container {

    .new-comic-container-item {
        display: flex;
        
        // background-color: aliceblue;
        height: 140px;
        padding: 5px;

        .new-comic-image {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 6px 4px 8px darken($black, $amount: 20);

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                cursor: pointer;
            }

        }

        .new-comic-info {
            width: calc(100% - 100px);
            height: 100%;
            // background-color: red;
            padding: 0 0 0 10px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: column;
                span {
                    width: 100%;
                    color: $white;

                    &:first-child {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: $yellow;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        cursor: pointer;

                        &:hover { color: $main-color-2; }
                    }

                    &:last-child {
                        cursor: pointer;
                        &:hover { color: $main-color-2; }
                    }

                }
            }

            .comic-time-post {
                width: 100%;
                color: $main-color-2;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .new-comic-container {
        margin-bottom: 20px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 60%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-bottom: 20px;
        border-bottom: 2px solid $main-color-2;

        &::-webkit-scrollbar { display: none; }

        .new-comic-container-item {
            scroll-snap-align: start;
        }
    }
}

@media screen and (max-width: 576px) {
    .new-comic-container {
        grid-auto-columns: 80%;
    }
}