@import '_setting.scss';

.comments-container {
    display: flex;
    margin-bottom: 20px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .comment {
        width: calc(100% - 60px);
        padding: 10px 20px;
        margin-left: 10px;
        background-color: $white;
        border-radius: 10px;
    }
}
