@import '_setting.scss';

.login-page-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, $alpha: 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideUp 0.8s ease-out;
    z-index: 10;

    .fake-container {
        position: absolute;
        width: inherit;
        height: inherit;
        z-index: -1;
    }

    .login-box {
        width: 350px;
        height: 420px;
        border-radius: 15px;
        box-shadow: 8px 6px 14px $main-color-2;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: slideDown 0.8s ease-out 0.8s forwards;
        position: relative;
        padding-top: 10px;

        span {
            font-size: 2rem;
            font-weight: bold;
            color: $main-color-2;
            text-shadow: 0px 0px 6px $main-color-2;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            color: $main-color-2;
            margin-bottom: 5px;

            &:hover {
                font-style: italic;
                text-decoration: underline;
            }
        }

        .user-box {
            position: relative;
            width: 100%;
            width: 300px;
            z-index: 1;
            margin: 0 auto;

            input {
                padding: 10px 0;
                font-size: 1rem;
                color: $main-color-2;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid $main-color-2;
                outline: none;
                width: inherit;
                background: transparent;

                &:focus ~ label, &:valid ~ label {
                    top: -20px;
                    left: 0;
                    color: $main-color-2;
                    font-weight: 600;
                    font-size: 0.8rem;
                }
            }

            label {
                position: absolute;
                top:0;
                left: 0;
                padding: 10px 0;
                font-size: 1rem;
                color: $main-color-2;
                pointer-events: none;
                transition: .5s;
            }
            
            svg {
                color: $main-color-2;
                position: absolute;
                right: 10px;
                top: 15px;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }

        .login-error {
            font-size: 1rem;
        }

        .login-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $main-color-2;
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            width: 100px;
            height: 40px;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                background: $main-color-2;
                color: $white;
                border-radius: 5px;
                box-shadow: 0 0 5px $main-color-2,
                            0 0 25px $main-color-2,
                            0 0 50px $main-color-2,
                            0 0 100px $main-color-2;
            }

            span {
                display: block;
                position: absolute;

                &:nth-child(1) {
                    top: -10px;
                    left: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, transparent, $main-color-2);
                    animation: btn-anim1 1s linear infinite;
                }

                &:nth-child(2) {
                    top: -100%;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(180deg, transparent, $main-color-2);
                    animation: btn-anim2 1s linear infinite;
                    animation-delay: 0.25s
                }

                &:nth-child(3) {
                    bottom: -20px;
                    right: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(270deg, transparent, $main-color-2);
                    animation: btn-anim3 1s linear infinite;
                    animation-delay: .5s
                }

                &:nth-child(4) {
                    bottom: -100%;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(360deg, transparent, $main-color-2);
                    animation: btn-anim4 1s linear infinite;
                    animation-delay: .75s
                  }
            }
        }

        .google-login-btn {
            position: absolute;
            width: 50px;
            height: 50px;
            justify-content: center;
            background-color: transparent !important;
            box-shadow: 0 0 6px $main-color-2 !important;
            border-radius: 8px !important;
            top: -25px;
            right: 30px;
            
            div {
                margin: 0 !important;
                background-color: transparent !important;
            }

            span { display: none;}
        }

        .spinner-border { color: $main-color-2; margin-top: 40px;}
    }

    .image-naruto {
        width: 300px;
        position: absolute;
        left: calc(30% - 300px);
        opacity: 0;
        animation: slideLTR 0.8s ease-out 1s forwards;
    }

}

@media screen and (max-width: 768px) {
    .login-page-container {
        .image-naruto {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    .login-page-container {
        .login-box {
            width: 300px;

            .user-box { width: 250px;}
        }
    }
}

@keyframes btn-anim1 {
    0% { left: -100%; }
    50% { left: 100%; }
    100% { left: 100%; }
}

@keyframes btn-anim2 {
    0% { top: -100%; }
    50% { top: 100%; }
    100% { top: 100%; }
}

@keyframes btn-anim3 {
    0% { right: -100%; }
    50% { right: 100%; }
    100% { right: 100%; }
}

@keyframes btn-anim4 {
    0% { bottom: -100%; }
    50% { bottom: 100%; }
    100% { bottom: 100%; }
}