@import '_setting.scss';

.list-comic-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    .comic-item {
        width: 25%;
        margin-bottom: 25px;
        height: 350px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .no-result {
        background-color: $yellow;
        border-radius: 8px;
        box-shadow: 0 0 10px darken($black, $amount: 10);
        width: 100%;
        padding: 50px 10px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 1280px) {
    .list-comic-container {
        .comic-item {
            height: 282px;
            width: 33.33%;
        }
    }
}

@media screen and (max-width: 880px) {
    .list-comic-container {
        .comic-item {
            width: 50%;
        }
    }
}

@media screen and (max-width: 425px) {
    .list-comic-container {
        .comic-item {
            height: 262px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 390px) {
    .list-comic-container {
        .comic-item {
            height: 222px;
            margin-bottom: 0;
        }
    }
}